<% include ./partials/header %>


<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Register to Hike Help</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input type="text" name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="password" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
                </div>
            </form>
            <a href="/walks">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>

